/* project css */
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Typography
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;

}

/******Logo********/
.logo {
 height: 80vh;
 width: 100%;
}

.SignIn{
  text-decoration: none;
font-size: medium;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.heading_caption{
  font-size: 30px;
}


