/* project css */
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Typography
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;

}

/******Logo********/
.logo {
 height: 80vh;
 width: 100%;
}

.SignIn{
  text-decoration: none;
font-size: medium;
}

.img-fluid {
  width: 100%;
 
}

.heading_caption{
  font-size: 30px;
}
/* //hero section */

.custom-carousel-height {
  height: 400px; /* Adjust this value as needed */
  position: relative;
}

.carousel-image {
  height: 100%;
  object-fit: cover; /* Cover the entire height while maintaining aspect ratio */
}

/**********view ground css***********/
.ground-image {
  width: 100%;
  height: 60vh;
  object-fit: cover; /* This will maintain the aspect ratio and crop the image if necessary */
}

.image-container {
  overflow: hidden; /* Optional: Use this if you want to restrict the image to a specific size */
}




